.wrapper {
	display: flex;
	justify-content: center;
	padding: 12px 0 50px 0;
}
.inner {
	position: relative;
	width: 80%;
	border-radius: 4px;
	padding: 4px 8px;
	background: #fff;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
	.modal{
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		display:flex;
		align-items: center;
		justify-content: center;
		.overlay{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.1); /* Độ mờ và màu sắc của nền */
		}
		.modal-pw{
			position: relative;
			height: auto;
			width: 80%;
			flex-shrink: 0;
			border-radius: 10px;
			background: var(--White, #FFF);
			padding: 4% 3%;
			box-shadow: 0px 4px 32px 1px rgba(186, 186, 186, 0.12);
			animation: fadeIn 0.3s forwards;
			.modal-header{
				margin-bottom: 20px;
			}
			.icon-close{
				color: #33363F;
				position: absolute;
				padding:2px 5px;
				font-size: 2rem;
				cursor: pointer;
				top:10px;
				right: 10px;
				&:hover{
					opacity: 0.8;
				}
			}
			.btn{
				display:flex;
				justify-content: space-evenly;
				align-items: center;
				flex-grow: 1;
				margin-top: 20px;
				.submit{
					color:#FFF;
					text-align: center;
					width: 46%;
					font-size: 14px;
					font-weight: 700;
					letter-spacing: 0.36px;
					padding: 12px 20px;
					border-radius: 5px;
					background-color: #1B2C95;
					border: none;
					&:hover{
						opacity: 0.8;
					}
				}
				.btn-cancel{
					color: #000;
					text-align: center;
					width: 46%;
					font-size: 14px;
					font-weight: 700;
					line-height: normal;
					letter-spacing: 0.36px;
					padding: 12px 20px;
					border-radius: 5px;
					border: 1px solid #2D323E;
					&:hover{
						background-color: #dadada;
					}
				}
			}
		}
	}
}

.name-page {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 400;
	border-bottom: 1px solid #ccc;
}
.frame-container {
	padding: 2px 8px 26px;
}
//heading
.frame-desc {
	display: flex;
	align-items: center;
	padding: 12px 0;
}

.text {
	flex: 1;
	font-size: 18px;
	font-weight: 400;
	margin-right: 4px;
}
.frame-year {
	display: flex;
	justify-content: center;
	align-items: center;
}

//table
.table {
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}

th,
td {
	padding: 8px;
	text-align: center;
	vertical-align: middle;
}

.table-inner-row {
	border-bottom: 1px solid #ccc;
}
.table-inner-row:nth-child(odd) {
	background: rgba(217, 217, 217, 0.4);
}
.table-inner-row:nth-child(even) {
	background: rgba(217, 217, 217, 0.1);
}
.table-header-row {
	background-color: rgba(243, 128, 32, 0.1) !important;
	border-bottom: 2px solid #f38020 !important;
}

.table-header-cell {
	color: var(--Back, #2d323e);
	font-feature-settings: 'salt' on;
	font-weight: 700;
	border-bottom: 1px solid #d9d9d917;
	text-align: center !important;
}

.btn-submit {
	padding: 6px;
	font-size: 12px;
	letter-spacing: 1.2px;
	color: #fff;
	border-radius: 6px;
	width: 80px;
	border: none;
}

.btn-container {
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.btn-submit{
	background: #1b2c95;
}

.btn-submit:hover {
	cursor: pointer;
}


//responsive
@media (min-width: 1024px) {
}

@media (max-width: 1023px) and (min-width: 743px) {
	.inner{
		width: 95%;
	}
	.name-page {
		font-size: 10px;
	}
	.frame-container {
		padding: 2px 8px 26px;
	}
	//heading
	.frame-desc {
		display: flex;
		align-items: center;
		padding: 8px 0;
	}

	.text {
		flex: 1;
		font-size: 12px;
		font-weight: 400;
	}

	.year {
		font-size: 12px;
		padding: 2px 4px;
	}

	//table
	.table-header-cell, .table-inner-row-content{
		padding: 6px 4px;
		font-size: 10px;
	}

	.btn-submit{
		width: 80px;
		font-size: 10px;
	}
	.btn-container{
		padding: 6px 4px;
	}
}


@media (max-width: 743px) {
	.inner{
		width: 95%;
	}
	.name-page {
		font-size: 10px;
	}
	.frame-container {
		padding: 2px 8px 26px;
	}
	//heading
	.frame-desc {
		display: flex;
		align-items: center;
		padding: 4px 0;
	}

	.text {
		flex: 1;
		font-size: 10px;
		font-weight: 400;
	}


	//table
	.table-header-cell{
		padding: 4px 2px;
		font-size: 9px;
	}
	
	.table-inner-row-content{
		padding: 4px 2px;
		font-size: 10px;
	}
	.btn-submit{
		width: 80px;
		font-size: 12px;
	}
	.btn-container{
		padding: 10px ;
	}

}
