.wrapper {
	min-width: 100px;
	padding: 10px 12px;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	border: 1px solid transparent;
	background-color: #1b2c95e5;
	color: #ffffff;
	+ .wrapper {
		margin-left: 16px;
	}

	&.disabled {
		pointer-events: none;
		opacity: 0.5;
		user-select: none;
	}
}

.icon {
	padding: 0 8px;
}

.text {
	border: none;
}

@media (max-width: 1024px) and (min-width: 744px) {
	.wrapper {
		padding: 8px 6px;
		font-size: 12px;
	}
}

//mobile
@media (max-width: 743px) {
	.wrapper {
		display: none;
	}
}
