.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    .table{
        position: relative;
        width: 90%;
        height: auto;
        margin-top: 35px;
        background-color: white;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.02);
        overflow: hidden;
        border-radius: 6px;
        margin-bottom: 3%;
        padding-bottom: 2%;
        .header{
            color: rgba(0, 0, 0, 0.60);
            font-size: 10px;
            font-weight: 400;
            line-height: 12px; /* 120% */
            padding:7px 15px;
        }
        .line{
            height:1px;
            width:100%;
            background-color: #8793;
        }
        .chose{
            position: absolute;
            right:0;
            padding: 8px 30px;
            .chose-year{
                display:flex;
                align-items: center;
                padding:3px 10px;
                border-radius: 5px;
                border: 0.5px solid #000;
                background: #FFF;
                .text{
                    color: #000;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.36px;
                    margin-right: 5px;
                }
            }
            .option{
                border-radius: 5px;
                border: 0.5px solid #000;
                background: #FFF;
                padding:0;
                li{
                    list-style: none;
                    color: #000;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 18px; /* 184.615% */
                    cursor: pointer;
                    &:hover{
                        background-color: #d9d9d9;
                    }
                }
                .year-active{
                    background-color: #FFE4B3;
                }
            }
        }
        .grid{
            padding:0 28px;
            .name{
                margin: 35px 0;
                display:flex;
                .topic{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border: 1px solid #2D323E;
                    border-radius: 3px;
                    padding: 5px 18px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 700;
                    line-height: normal;
                    margin-right: 8%;
                    &:hover{
                        cursor: pointer;
                        background-color: #e8e8e8;
                    }
                }
                .active{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border: 1px solid #2D323E;
                    border-radius: 3px;
                    padding: 5px 18px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 700;
                    line-height: normal;
                    margin-right: 8%;
                    background-color: #FFE4B3;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .grid-title{
                background-color: #fbe7d7;
                border-bottom: solid 2px #F38020;
                padding:3px 5px;
                font-size: 14px;
                text-align: center;
                .title{
                    color: #2D323E;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 26px; /* 162.5% */
                    width:150px;
                    padding-left: 5px;
                }
            }
            .grid-content{
                background-color: #f0f0f0;
                padding:4px 20px;
                border-bottom: solid 2px #999999;
                text-align: center;
                &:hover{
                    background-color: #98d7f7;
                }
                
            }
            .grid-content-light{
                background-color: #fff;
                padding:4px 20px;
                border-bottom: solid 2px #999999;
                text-align: center;
                &:hover{
                    background-color: #98d7f7;
                }
                
            }
            .register-topic{
                .text-register-topic{
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 22px;
                    margin-top: 7%;
                    margin-bottom: 2%;
                }
                .box{
                    display:flex;
                    align-items: center;
                    .text{
                        color: #000;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 24px;
                        width:20%;
                        padding:0 15px;
                    }
                    .short{
                        margin: 20px 0;
                        border: 0.2px solid #393939;
                        padding: 8px 15px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 150%;
                        width: 100%;
                        border-radius: 5px;
                    }
                }
                .footer{
                    width: 100%;
                    display:flex;
                    justify-content: flex-end;
                    .register{
                        flex-shrink: 0;
                        padding: 8px 15px;
                        border:none;
                        text-decoration: none;
                        background-color: #3241A0;
                        color:#fff;
                        font-size: 16px;
                        border-radius: 3px;
                        text-align: center;
                        font-weight: 600;
                        line-height: 20px;
                        letter-spacing: 2.88px;
                        &:hover{
                            cursor: pointer;
                            opacity: 0.8;
                        }
                    }
                }
            }
            }
        .page-number{
            display:flex;
            align-items: center;
            justify-content: center;
            margin:40px 0;
            .button{
                border:none;
                color: rgba(0, 0, 0, 0.60);
                text-align: center;
                font-size: 18px;
                line-height: 150%; /* 27px */
                padding:5px 15px;
                margin-right: 15px;
                background-color: #fff;
                cursor: pointer;
                &:hover{
                    background-color: #e0e0e0;
                }
            }
            .button-active{
                cursor: pointer;
                border:none;
                color: #fff;
                text-align: center;
                font-size: 18px;
                line-height: 150%; /* 27px */
                padding:5px 15px;
                margin-right: 15px;
                background-color: #1B2C95;
            }
        }
    }
}

.link{
    color: #000;
    text-decoration: none;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-clamp: 3; 
    line-height: 150%;
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
    &:hover{
        color:#000
    }
}