.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    .table{
        position: relative;
        height: auto;
        margin-top: 35px;
        background-color: white;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.02);
        overflow: hidden;
        border-radius: 6px;
        .header{
            color: rgba(0, 0, 0, 0.60);
            font-size: 10px;
            font-weight: 400;
            line-height: 12px; /* 120% */
            padding:7px 15px;
        }
        .line{
            height:1px;
            width:100%;
            background-color: #8793;
        }
           .frame-desc{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 30px 0;
                .text-name{
                    font-weight: 400;
                    margin-right: 4px;
                }
                .frame-year{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .year{
                        padding: 3px 10px;
                        border-radius: 5px;
                    }
                    .text{
                        flex: 1;
                        font-size: 18px;
                        font-weight: 400;
                        margin-right: 4px;
                    }
                }
            }
        .footer{
            width: 100%;
            padding-top: 30px;
            display:flex;
            justify-content: center;
            .register{
                flex-shrink: 0;
                padding: 5px 15px;
                border:none;
                background-color: #3241A0;
                color:#fff;
                font-size: 16px;
                border-radius: 3px;
                text-align: center;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 1.5px;
                &:hover{
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }
        .grid{
            display: flex;
            justify-content: center;
            align-items: center;
            .reward{
                background-color: #398220;
                color: #fff;
                font-weight: 600;
                font-size: 13px;
                letter-spacing: 1px;
                border-radius: 5px;
                padding: 4px 10px;
                cursor: pointer;
                text-align: center;
            }
            .grid-title{
                background-color: #fbe7d7;
                border-bottom: solid 2px #F38020;
                font-size: 14px;
                align-items: center;
                text-align: center;
                .title{
                    color: #2D323E;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
            .grid-content{
                background-color: #f0f0f0;
                border-bottom: solid 2px #999999;
                text-decoration: none;
                &:hover{
                    background-color: #b5bbed;
                }
                
            }
            .grid-content-light{
                background-color: #fff;
                border-bottom: solid 2px #999999;
                text-decoration: none;
                padding-left: 20px;
                text-align: center;
                display: flex;
                align-items: center;
                &:hover{
                    background-color: #b5bbed;
                }
                
            }
        }
        
    }
}

.link{
    color: #000;
    text-decoration: none;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; /* Number of lines to show */
    line-clamp: 3; 
    line-height: 150%; /* 24px */
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
@media (min-width: 1024px) {
    .table{
        width:90%;
        .footer{
            .register{
                margin-right: 30px;
            }
        }
        .page-number{
            display:flex;
            align-items: center;
            justify-content: center;
            margin:40px 0;
            .button{
                border:none;
                color: rgba(0, 0, 0, 0.60);
                text-align: center;
                font-size: 18px;
                line-height: 150%; /* 27px */
                padding:8px 15px;
                margin-right: 15px;
                background-color: #fff;
                cursor: pointer;
                &:hover{
                    background-color: #e0e0e0;
                }
            }
            .button-active{
                cursor: pointer;
                border:none;
                color: #fff;
                text-align: center;
                font-size: 18px;
                line-height: 150%; /* 27px */
                padding:8px 15px;
                margin-right: 15px;
                background-color: #1B2C95;
            }
        }
        .name{
            margin: 35px;
            color: #000;
            font-size: 18px;
            line-height: 22px; 
        }
    }
}
@media (max-width: 1023px) and (min-width: 894px) {
    .table{
        width:90%;
        .footer{
            .register{
                margin-right: 30px;
            }
        }
        .page-number{
            display:flex;
            align-items: center;
            justify-content: center;
            margin:40px 0;
            .button{
                border:none;
                color: rgba(0, 0, 0, 0.60);
                text-align: center;
                font-size: 16px;
                line-height: 150%; /* 27px */
                padding:6px 12px;
                margin-right: 8px;
                background-color: #fff;
                cursor: pointer;
                &:hover{
                    background-color: #e0e0e0;
                }
            }
            .button-active{
                cursor: pointer;
                border:none;
                color: #fff;
                text-align: center;
                font-size: 16px;
                line-height: 150%; /* 27px */
                padding:6px 12px;
                margin-right: 8px;
                background-color: #1B2C95;
            }
        }
        .name{
            margin: 25px;
            color: #000;
            font-size: 16px;
            line-height: 12px; 
        }
    }
    
}
@media (max-width: 893px) and (min-width: 541px) {
    .frame-desc{
        flex-direction: column;
        .text-name{
            margin-bottom: 10px;
        }
    }
    .footer{
        flex-direction: column;
        align-items: center;
        .register{
            margin-top: 10px;
        }
    }
	.table{
        width:95%;
        .name{
            margin: 35px 20px;
            color: #000;
            font-size: 14px;
            line-height: 22px; 
        }
    }
    .page-number{
        display:flex;
        align-items: center;
        justify-content: center;
        margin:40px 0;
        .button{
            border:none;
            color: rgba(0, 0, 0, 0.60);
            text-align: center;
            font-size: 15px;
            line-height: 150%; /* 27px */
            padding:4px 10px;
            margin-right: 6px;
            background-color: #fff;
            cursor: pointer;
            &:hover{
                background-color: #e0e0e0;
            }
        }
        .button-active{
            cursor: pointer;
            border:none;
            color: #fff;
            text-align: center;
            font-size: 15px;
            line-height: 150%; /* 27px */
            padding:4px 10px;
            margin-right: 6px;
            background-color: #1B2C95;
        }
    }
    .grid{
        .reward{
            width: 120px;
        }}
    
}
@media (max-width: 540px) {
    .frame-desc{
        flex-direction: column;
        .text-name{
            margin-bottom: 10px;
        }
    }
    .footer{
        flex-direction: column;
        align-items: center;
        .register{
            margin-top: 10px;
        }
    }
	.table{
        width:95%;
        .name{
            margin: 35px 20px;
            color: #000;
            font-size: 14px;
            line-height: 22px; 
        }
    }
    .page-number{
        display:flex;
        align-items: center;
        justify-content: center;
        margin:40px 0;
        .button{
            border:none;
            color: rgba(0, 0, 0, 0.60);
            text-align: center;
            font-size: 15px;
            line-height: 150%; /* 27px */
            padding:4px 10px;
            margin-right: 6px;
            background-color: #fff;
            cursor: pointer;
            &:hover{
                background-color: #e0e0e0;
            }
        }
        .button-active{
            cursor: pointer;
            border:none;
            color: #fff;
            text-align: center;
            font-size: 15px;
            line-height: 150%; /* 27px */
            padding:4px 10px;
            margin-right: 6px;
            background-color: #1B2C95;
        }
    }
    .grid{
        .reward{
            width: 120px;
        }}
}