.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    .table{
        height: auto;
        background-color: white;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.02);
        overflow: hidden;
        border-radius: 6px;
        margin: 35px 30px;
        .header{
            color: rgba(0, 0, 0, 0.60);
            font-size: 10px;
            font-weight: 400;
            line-height: 12px; /* 120% */
            padding:7px 15px;
        }
        .line{
            height:1px;
            width:100%;
            background-color: #8793;
        }
           .frame-desc{
                display: flex;
                align-items: center;
                padding: 30px 40px;
                .text-name{
                    flex: 1;
                    font-weight: 400;
                    margin-right: 4px;
                }
                .frame-year{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .year{
                        padding: 3px 10px;
                        border-radius: 5px;
                    }
                    .text{
                        flex: 1;
                        font-size: 18px;
                        font-weight: 400;
                        margin-right: 4px;
                    }
                }
            }
        .footer{
            width: 100%;
            padding-top: 30px;
            display:flex;
            justify-content: center;
            .register{
                flex-shrink: 0;
                padding: 3px 8px;
                border:none;
                background-color: #3241A0;
                color:#fff;
                font-size: 14px;
                border-radius: 3px;
                text-align: center;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 1px;
                &:hover{
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }
        .grid{
            display: flex;
            justify-content: center;
            align-items: center;
            .reward{
                background-color: #398220;
                color: #fff;
                font-weight: 600;
                font-size: 13px;
                letter-spacing: 1px;
                border-radius: 5px;
                padding: 4px 10px;
                cursor: pointer;
                text-align: center;
            }
            .grid-title{
                background-color: #fbe7d7;
                border-bottom: solid 2px #F38020;
                font-size: 14px;
                align-items: center;
                text-align: center;
                .title{
                    color: #2D323E;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
            .grid-content{
                background-color: #f0f0f0;
                border-bottom: solid 2px #999999;
                text-decoration: none;
                &:hover{
                    background-color: #b5bbed;
                }
                
            }
            .grid-content-light{
                background-color: #fff;
                border-bottom: solid 2px #999999;
                text-decoration: none;
                padding-left: 20px;
                text-align: center;
                display: flex;
                align-items: center;
                &:hover{
                    background-color: #b5bbed;
                }
                
            }
        }
        
    }
}

.link{
    color: #000;
    text-decoration: none;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; /* Number of lines to show */
    line-clamp: 3; 
    line-height: 150%; /* 24px */
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
@media (min-width: 1024px) {
    .table{
        width:90%;
        .footer{
            .register{
                margin-right: 30px;
            }
        }
        .page-number{
            display:flex;
            align-items: center;
            justify-content: center;
            margin:40px 0;
            .button{
                border:none;
                color: rgba(0, 0, 0, 0.60);
                text-align: center;
                font-size: 18px;
                line-height: 150%; /* 27px */
                padding:8px 15px;
                margin-right: 15px;
                background-color: #fff;
                cursor: pointer;
                &:hover{
                    background-color: #e0e0e0;
                }
            }
            .button-active{
                cursor: pointer;
                border:none;
                color: #fff;
                text-align: center;
                font-size: 18px;
                line-height: 150%; /* 27px */
                padding:8px 15px;
                margin-right: 15px;
                background-color: #1B2C95;
            }
        }
        .name{
            margin: 35px;
            color: #000;
            font-size: 18px;
            line-height: 22px; 
        }
    }
}
@media (max-width: 1023px) and (min-width: 894px) {
    .table{
        width:90%;
        .footer{
            .register{
                margin-right: 30px;
            }
        }
        .page-number{
            display:flex;
            align-items: center;
            justify-content: center;
            margin:40px 0;
            .button{
                border:none;
                color: rgba(0, 0, 0, 0.60);
                text-align: center;
                font-size: 16px;
                line-height: 150%; /* 27px */
                padding:6px 12px;
                margin-right: 8px;
                background-color: #fff;
                cursor: pointer;
                &:hover{
                    background-color: #e0e0e0;
                }
            }
            .button-active{
                cursor: pointer;
                border:none;
                color: #fff;
                text-align: center;
                font-size: 16px;
                line-height: 150%; /* 27px */
                padding:6px 12px;
                margin-right: 8px;
                background-color: #1B2C95;
            }
        }
        .name{
            margin: 25px;
            color: #000;
            font-size: 16px;
            line-height: 12px; 
        }
    }
    
}
@media (max-width: 893px) and (min-width: 541px) {
    .frame-desc{
        flex-direction: column;
        .text-name{
            margin-bottom: 10px;
        }
    }
    .footer{
        flex-direction: column;
        align-items: center;
        .register{
            margin-top: 10px;
        }
    }
	.table{
        width:95%;
        .name{
            margin: 35px 20px;
            color: #000;
            font-size: 14px;
            line-height: 22px; 
        }
    }
    .page-number{
        display:flex;
        align-items: center;
        justify-content: center;
        margin:40px 0;
        .button{
            border:none;
            color: rgba(0, 0, 0, 0.60);
            text-align: center;
            font-size: 15px;
            line-height: 150%; /* 27px */
            padding:4px 10px;
            margin-right: 6px;
            background-color: #fff;
            cursor: pointer;
            &:hover{
                background-color: #e0e0e0;
            }
        }
        .button-active{
            cursor: pointer;
            border:none;
            color: #fff;
            text-align: center;
            font-size: 15px;
            line-height: 150%; /* 27px */
            padding:4px 10px;
            margin-right: 6px;
            background-color: #1B2C95;
        }
    }
    .grid{
        .reward{
            width: 120px;
        }}
    
}
@media (max-width: 540px) {
    .frame-desc{
        flex-direction: column;
        .text-name{
            margin-bottom: 10px;
        }
    }
    .footer{
        flex-direction: column;
        align-items: center;
        .register{
            margin-top: 10px;
        }
    }
	.table{
        width:95%;
        .name{
            margin: 35px 20px;
            color: #000;
            font-size: 14px;
            line-height: 22px; 
        }
    }
    .page-number{
        display:flex;
        align-items: center;
        justify-content: center;
        margin:40px 0;
        .button{
            border:none;
            color: rgba(0, 0, 0, 0.60);
            text-align: center;
            font-size: 15px;
            line-height: 150%; /* 27px */
            padding:4px 10px;
            margin-right: 6px;
            background-color: #fff;
            cursor: pointer;
            &:hover{
                background-color: #e0e0e0;
            }
        }
        .button-active{
            cursor: pointer;
            border:none;
            color: #fff;
            text-align: center;
            font-size: 15px;
            line-height: 150%; /* 27px */
            padding:4px 10px;
            margin-right: 6px;
            background-color: #1B2C95;
        }
    }
    .grid{
        .reward{
            width: 120px;
        }}
}
.content {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:-20px 0;
}
.table {
	border-collapse: collapse;
	padding: 10px 0;
	width: 100%;
	margin-top: 10px;
}

th,
td {
	padding: 16px 8px;
	text-align: center;
	vertical-align: middle;
}

.table-inner-row {
	border-bottom: 1px solid #ccc;
}
.table-inner-row:nth-child(odd) {
	background: rgba(217, 217, 217, 0.4);
}
.table-inner-row:nth-child(even) {
	background: rgba(217, 217, 217, 0.1);
}
.table-header-row {
	background-color: rgba(243, 128, 32, 0.1);
	border-bottom: 2px solid #f38020;
}

.table-header-cell {
	color: var(--Back, #2d323e);
	font-feature-settings: 'salt' on;
	font-weight: 700;
	border-bottom: 1px solid #d9d9d917;
    text-align: center;
}

.table-inner-row-content {
	max-width: 400px;
}
.name-topic{

	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.link{
    color:#000;
    text-decoration: none;
}

@media (min-width: 1024px) {
	.custom-select{
		width: 90px;
	}
}

@media (max-width: 1023px) and (min-width: 743px) {
    .table-header-cell:nth-child(3),
	.table-inner-row-content:nth-child(3) {
    	display: none;
	}
	.inner{
		width: 90%;
	}
	.name-page {
		font-size: 10px;
	}
	.frame-container {
		padding: 2px 8px 26px;
	}
	//heading
	.frame-desc {
		display: flex;
		align-items: center;
		padding: 8px 0;
	}

	.text {
		flex: 1;
		font-size: 12px;
		font-weight: 400;
	}

	.year {
		font-size: 12px;
		padding: 2px 4px;
	}

	//table
	.table{
		margin-top: 16px;
	}
	.table-header-cell, .table-inner-row-content{
		padding: 6px 4px;
		font-size: 12px;
	}

	//content
	.item{
		padding: 6px 0;
	}
	.item-title, .custom-select,
	.btn-fix{
		font-size: 10px;
	}
	.item-text{
		font-size: 12px;
	}

	.custom-select{
		width: 110px;
	}
	
	.btn{
		font-size: 13px;
		padding: 4px 6px;
	}
}


@media (max-width: 743px) {
	.inner{
		width: 90%;
	}
	.name-page {
		font-size: 10px;
	}
	.frame-container {
		padding: 2px 8px 26px;
	}
	//heading
	.frame-desc {
		display: flex;
		align-items: center;
		padding: 4px 0;
	}

	.text {
		flex: 1;
		font-size: 10px;
		font-weight: 400;
	}

	.year {
		font-size: 12px;
		padding: 2px 4px;
	}

	//table
	.table-header-cell{
		padding: 6px 6px;
		font-size: 10px;
	}
	
	.table-inner-row-content{
		padding: 4px 2px;
		font-size: 12px;
		max-width: 150px;
	}

	.table-header-cell:nth-child(3),
	.table-inner-row-content:nth-child(3) {
    	display: none;
	}
    .table-header-cell:nth-child(4),
	.table-inner-row-content:nth-child(4) {
    	display: none;
	}
    .table-header-cell:nth-child(5),
	.table-inner-row-content:nth-child(5) {
    	display: none;
	}
	//content
	.item{
		padding: 4px 0;
	}
	.item-title{
		font-size: 11px;
	}

	.custom-select{
		width: 60px;
		font-size: 9px;
		font-weight: 600;
		padding: 4px 6px;
	}
	.content-list-card{
		flex-direction: column;
	}
	.content-item-card{
		width: 100%;
	}

	.btn-container{
		flex-direction: column;
	}
	.btn-fix{
		font-size: 10px;
		padding: 6px 4px;
	}
	.btn-submit,
	.btn-pre{
		font-size: 11px;
		padding: 6px 8px;
		font-weight: 600;
	}
	
	.btn{
		font-size: 12px;
		padding: 4px 6px;
	}
}
.reward{
    background-color: #398220;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 4px 10px;
    cursor: pointer;
    text-align: center;
}