.wrapper{
	background: #e2eded;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
	width: 220px;
	min-height: 100vh;
	height: auto;
}
.inner {
	width: 100%;
}

.img-frame {
	width: 140px;
	height: 62px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 38px;
}

.img-logo {
	width: 100%;
}

//user infor
.user-infor {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 25px;
}
.user-avatar {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer;
	margin-left: 8px;
}

.user-decs {
	margin-left: 10px;
}

.user-name {
	font-size: 14px;
	font-weight: 700;
}

.user-class {
	font-size: 13px;
	letter-spacing: 1.17px;
	font-weight: 200;
}

//menu-sidebar
.menu-list {
	display: block;
	margin-top: 32px;
}

.menu-item-text {
	flex: 1;
}
.menu-frame {
	padding: 0 10px;
}
.menu-item-parent {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.32px;
	text-decoration: none;
	padding: 8px 8px;
	color: var(--black);

	&:hover {
		background-color: rgba(22, 24, 35, 0.05);
	}
}

.menu-item-child {
	//margin-left: 14px;
}
.icon {
	padding: 0 6px;
}
.box-note-hide {
	display: none;
}
.hidden {
	display: none;
}

//responsive
@media (min-width: 1024px) {
}

@media (max-width: 1023px) and (min-width: 744px) {
	.wrapper {
		width: 190px;
	}

	.user-name{
		font-size: 12px;
	}
	.user-class{
		font-size: 11px;
	}
	.menu-item-parent {
		font-size: 13px;
	}
	.menu-frame {
		padding: 0 16px;
	}
}

@media (max-width: 743px) {
	.wrapper {
		display: none;
	}
}
