.wrapper {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #f5f6f9;
}

.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1; /* Chiếm phần còn lại của wrapper */
	margin-left: 220px;
}

.sidebar {
	position: fixed;
}

.content {
	flex-grow: 1;
	padding-top: 56px; /* Chiếm phần còn lại của container */
	height: 100%;
	height: 100vh;
}

/* Các kiểu CSS tùy chỉnh cho các component Header và Sidebar */
//responsive
@media (max-width: 743px) {
	.container {
		margin-left: 0;
	}
}
