.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:20px 0;
    .table{
        position: relative;
        width: 90%;
        height: auto;
        background-color: white;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.02);
        overflow: hidden;
        border-radius: 6px;
        .frame-desc {
            display: flex;
            align-items: center;
            padding: 12px 0;
            .text-name{
                flex: 1;
                font-weight: 400;
                margin-right: 4px;
            }
            .frame-year{
                display: flex;
                justify-content: center;
                align-items: center;
                .year{
                    padding: 3px 10px;
                    border-radius: 5px;
                }
                .text{
                    flex: 1;
                    font-size: 18px;
                    font-weight: 400;
                    margin-right: 4px;
                }
            }
        }
        .text{
            color: #000;
            font-weight: 700;
            line-height: 24px;
            margin-right: 10px;
        }
        .short{
            margin: 20px 0;
            border: 0.2px solid #393939;
            padding: 4px 15px;
            font-weight: 400;
            line-height: 150%;
        }
        .header{
            color: rgba(0, 0, 0, 0.60);
            font-size: 10px;
            font-weight: 400;
            line-height: 12px; /* 120% */
            padding:7px 15px;
        }
        .line{
            height:1px;
            width:100%;
            background-color: #8793;
        }
        .wrapper{
            .name{
                margin: 35px 0;
                color: #000;
                font-size: 18px;
                line-height: 22px; 
            }
            .line-1{
                margin-bottom: 20px;
                .research-name{
                    display:flex;
                    min-width: 60%;
                    margin-bottom: 20px;
                    .content{
                        color: #000;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
            .line-2{
                margin-bottom: 20px;
                .research-name{
                    display:flex;
                    min-width: 60%;
                    margin-bottom: 20px;
                    .text{
                        color: #000;
                        font-weight: 700;
                        line-height: 24px;
                        margin-right: 10px;
                    }
                    .content{
                        color: #000;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .table{
        width: 100%;
        .text-name{
            font-size: 18px;
        }
        .wrapper{
            padding: 0 45px 25px 45px;
        }
        .line-1, .line-2{
            display:flex;
            .text{
                font-size: 17px;
            }
            .content{
                font-size: 15px;
            }
            .short{
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 1023px) and (min-width: 744px) {
    .table{
        width: 90%;
        .text-name{
            font-size: 17px;
        }
        .wrapper{
            padding: 0 45px 25px 45px;
        }
        .text{
            font-size: 16px;
        }
        .content{
            font-size: 14px;
        }
        .short{
            font-size: 13px;
        }
    }
    
}

@media (max-width: 743px) {
	.table{
        width: 100%;
        .text-name{
            font-size: 16px;
        }
        .wrapper{
            padding: 0 25px 25px 25px;
        }
        .text{
            font-size: 15px;
        }
        .content{
            font-size: 13px;
        }
        .short{
            font-size: 13px;
            text-decoration: none;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3; /* Number of lines to show */
            line-clamp: 3; 
        }
    }
}